@model ConsentViewModel

@section banner
{
	<div class="bg-navy text-white px-6 py-8 md:py-12 lg:py-16 relative z-10">
		<div class="container w-full text-left mx-auto self-center">
			<div class="max-w-lg">
				<div class="flex items-center">
					<div class="hidden sm:flex items-center justify-center flex-no-shrink bg-white h-16 w-16 shadow-inner mr-4 overflow-hidden rounded-full" aria-hidden="true">
						@if (Model.ClientLogoUrl != null)
						{
							<img class="object-cover w-16 h-16" src="@Model.ClientLogoUrl" alt="" />
						}
						else
						{
							<span class="fas fa-image text-grey-lighter text-2xl"></span>
						}
					</div>
					<div class="w-full">
						<h1 class="font-bold text-3xl lg:text-4xl leading-tight">Consent</h1>
						<p class="text-sm text-navy-lighter mt-1">@Model.ClientName is requesting your permission</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div class="cms mb-6">
	<p>
		<strong>
			@Model.ClientName is requesting your permission@(Model.ClientUrl != null ? ": " : ".")
			@if (Model.ClientUrl != null)
			{
				<span class="block mt-1">
					<a class="inline-block max-w-full break-words truncate" href="@Model.ClientUrl" target="_blank">
						<span class="fas fa-link" aria-hidden="true"></span>
						<span class="ml-1">@Model.ClientUrl</span>
					</a>
				</span>
			}
		</strong>
	</p>
	<p>Uncheck any permissions you do not wish to grant to @Model.ClientName.</p>
</div>

@Html.Partial("_ValidationSummary")

<form asp-action="Index">
	<input type="hidden" asp-for="ReturnUrl" />
	@if (Model.IdentityScopes.Any())
	{
		<section class="border border-navy-lightest overflow-hidden rounded mb-6">
			<h2 class="bg-navy-lightest text-base px-6 py-4">
				<span class="fas fa-user-alt fa-fw" aria-hidden="true"></span>
				<span class="ml-2">Personal Information</span>
			</h2>
			<div class="px-6 py-4">
				<ul class="form-checks">
					@foreach (var scope in Model.IdentityScopes)
					{
						@Html.Partial("_ScopeListItem", scope)
					}
				</ul>
			</div>
		</section>
	}
	@if (Model.ResourceScopes.Any())
	{
		<section class="border border-navy-lightest overflow-hidden rounded mb-6">
			<h2 class="bg-navy-lightest text-base px-6 py-4">
				<span class="fas fa-tasks fa-fw" aria-hidden="true"></span>
				<span class="ml-2">Application Access</span>
			</h2>
			<div class="px-6 py-4">
				<ul class="form-checks">
					@foreach (var scope in Model.ResourceScopes)
					{
						@Html.Partial("_ScopeListItem", scope)
					}
				</ul>
			</div>
		</section>
	}
	@if (Model.AllowRememberConsent)
	{
		<div class="form-group">
			<ul class="form-checks">
				<li class="form-checks__item">
					<label class="form-checks__label">
						<input class="form-checks__input" asp-for="RememberConsent" />
						<span class="form-checks__text">Remember my decision(s)</span>
					</label>
				</li>
			</ul>
		</div>
	}
	<div class="form-actions">
		<button class="btn mr-4" name="button" value="yes">Yes, allow</button>
		<button class="btn btn-line" name="button" value="no">No, do not allow</button>
	</div>
</form>