@model GrantsViewModel

@section banner
{
	<div class="bg-navy text-white px-6 py-8 md:py-12 lg:py-16 relative z-10">
		<div class="container w-full text-left mx-auto self-center">
			<div class="max-w-lg">
				<div class="flex flex-wrap items-center">
					<h1 class="font-bold w-full text-3xl lg:text-4xl leading-tight">Client Application Access</h1>
				</div>
			</div>
		</div>
	</div>
}

<div class="cms mb-6">
	<p><strong>Below are the applications you have granted access and the resources they have access to.</strong></p>
</div>

@if (Model.Grants.Any() == false)
{
	<div class="message" role="alert">
		<div>
			<h2 class="text-base">Notice</h2>
			<p>You have not given access to any applications.</p>
		</div>
	</div>
}
else
{
	foreach (var grant in Model.Grants)
	{
		<section class="border border-navy-lightest overflow-hidden  rounded mb-6 last-child:mb-0">
			<div class="flex items-center bg-navy-lightest px-6 py-4">
				@if (grant.ClientLogoUrl != null)
				 {
					 <div class="hidden sm:block w-10 mr-3" aria-hidden="true">
						 <img class="block" src="@grant.ClientLogoUrl" alt=""/>
					 </div>
				 }
				<h2 class="text-base">@grant.ClientName</h2>
			</div>
			<div class="flex flex-wrap items-start lg:flex-no-wrap">
				<div class="flex w-full px-6 py-4">
					<div class="w-full">
						<ul class="flex flex-wrap list-reset text-xs leading-none text-navy-light mt-1">
							<li class="mr-4">
								Created: @grant.Created.ToString("yyyy-MM-dd")
							</li>
							@if (grant.Expires.HasValue)
							{
								<li>
									Expires: @grant.Expires.Value.ToString("yyyy-MM-dd")
								</li>
							}
						</ul>
						<div class="flex flex-wrap items-start -ml-2 mt-1 text-sm print-grid">
							<div class="pt-2 pl-2 w-full sm:w-1/2 md:w-full lg:w-1/2 print-grid__col-1/2">
								<p class="font-semibold text-base">Identity Grants</p>
								<div class="mt-1">
									@if (grant.IdentityGrantNames.Any())
									{
										<ul class="list-reset mt-1 ml-2">
											@foreach (var name in grant.IdentityGrantNames)
											{
												<li class="flex items-start">
													<span class="block bg-red w-1 h-1 rounded-full mt-2 mr-2" aria-hidden="true"></span>
													<span>@name</span>
												</li>
											}
										</ul>
									}
									else
									{
										<p class="text-navy-lighter italic text-xs">None</p>
									}
								</div>
							</div>
							<div class="pt-2 pl-2 w-full sm:w-1/2 md:w-full lg:w-1/2 print-grid__col-1/2">
								<p class="font-semibold text-base">API Grants</p>
								<div class="mt-1">
									@if (grant.ApiGrantNames.Any())
									{
										<ul class="list-reset ml-2">
											@foreach (var name in grant.ApiGrantNames)
											{
												<li class="flex items-start">
													<span class="block bg-red w-1 h-1 rounded-full mt-2 mr-2" aria-hidden="true"></span>
													<span>@name</span>
												</li>
											}
										</ul>
									}
									else
									{
										<p class="text-navy-lighter italic text-xs">None</p>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-no-shrink self-center border-t border-navy-lightest lg:border-0 text-center px-6 py-4 w-full lg:w-auto">
					<form asp-action="Revoke">
						<input type="hidden" name="clientId" value="@grant.ClientId" />
						<button class="btn btn-small" aria-label="Revoke Access">Revoke</button>
					</form>
				</div>
			</div>
		</section>
	}
}